body {
    background: radial-gradient(#162955, #061539);
    font-family: Helvetica;
}

p, h4, ul {
    margin: 0;
}

div {
    word-wrap: break-word;
}

.room {
    cursor: pointer;
}

.messageTextInput {
    margin-top: 10px;
    padding: 10px;
    width: 65%;
    border: 1px solid black;
    background-color: #7787AB;
}

.messageTextInput:focus {
    background-color: white;
}

.chatWindow {
    background-color: white;
    padding: 10px;
    width: 75%;
    height: 75%;
    float: left;
    border: 1px solid black;
    overflow-y: scroll;
}

.lobby {
    background-color: white;
    padding: 10px;
    width: 20%;
    height: 75%;
    border: 1px solid black;
    overflow-y: auto;
    float: right;
}

.roomName{
    background-color: white;
    width: 16%;
    float: right;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid black;
    background-color: #7787AB;
}

.roomName:focus {
    background-color: white;
}

.createRoom{
    background-color: #7787AB;
    padding: 10px;
    width: 4%;
    border:0px solid black;
    font-size: 1em;
    float: right;
    margin-top: 10px;
}

.createRoom:hover {
    font-size: 0.92em;
    background-color: SlateGrey;
}

.createRoom:active {
    background-color: #11a474;
    position:relative;
}

.loginButton {
    width: 100px !important;
}

.sendButton {
    background-color: #7787AB;
    padding: 10px;
    width: 10%;
    border:0px solid black;
    font-size: 1em;
}

.sendButton:hover {
    font-size: 0.92em;
    background-color: SlateGrey;
}

.sendButton:active {
    background-color: #11a474;
    position:relative;
}

.browserChatView{
    padding: 10px;
    height: 90vh;
    border: none;
}

#mask {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9000;
    background-color: #000;
    display: none;
}

#loginBox .window {
      position: absolute;
      left: 0;
      top: 0;
      width: 300px;
      height: 100px;
      display: none;
      z-index: 9999;
      padding: 20px;
      border-radius: 15px;
      text-align: center;
      background-color: white;
}

#loginBox p {
    margin-bottom: 5px;
}

.Xadd {
  border: 5px solid green;
  background-image: url("/resources/addFile.png");
  background-repeat: no-repeat;
  background-position: center;
}

.addWindow {
  border: 5px solid green;
  position: relative;
}

.addOverlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background-image: url("/resources/addFile.png");
  background-repeat: no-repeat;
  background-position: center;
}

#loginBox #loginBoxContent {
      width: 750px;
      height: 300px;
      padding: 10px;
      background-color: #ffffff;
      font-family: 'Segoe UI Light', sans-serif;
      font-size: 15pt;
}

@media screen and (max-width: 650px) {
    .chatWindow {
        width: 60%;
    }
}
