body {
    background: radial-gradient(#162955, #061539);
    font-family: Helvetica;
}

p, h4 {
    margin: 0;
}

div {
    word-wrap: break-word;
}

.messageTextInput {
    margin-top: 10px;
    padding: 10px;
    width: 65%;
    border: 1px solid black;
    border-radius: 25px;
    background-color: #7787AB;
}

.messageTextInput:focus {
    background-color: white;
}

.chatWindow {
    background-color: white;
    padding: 10px;
    margin-right: 20px;
    width: 75%;
    height: 75%;
    float: left;
    border: 1px solid black;
    border-radius: 25px;
    overflow-y: hidden;
}

.lobby {
    background-color: white;
    padding: 10px;
    width: 20%;
    height: 75%;
    border: 1px solid black;
    overflow-y: auto;
}

.sendButton {
    background-color: #7787AB;
    padding: 10px;
    width: 10%;
    border:0px solid black;
    border-radius: 25px;
    font-size: 1em;
}

.sendButton:hover {
    font-size: 0.92em;
    background-color: SlateGrey;
}

.sendButton:active {
    background-color: #11a474;
    position:relative;
}

.browserChatView{
    padding: 10px;
    height: 95vh;
    border: none;
}

#mask {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9000;
    background-color: #000;
    display: none;
}

#loginBox .window {
      position: absolute;
      left: 0;
      top: 0;
      width: 440px;
      height: 200px;
      display: none;
      z-index: 9999;
      padding: 20px;
      border-radius: 15px;
      text-align: center;
      background-color: white;
}

#popupfoot {
      font-size: 16pt;
      position: absolute;
      bottom: 0px;
      width: 250px;
      left: 250px;
}

#loginBox #loginBoxContent {
      width: 750px;
      height: 300px;
      padding: 10px;
      background-color: #ffffff;
      font-family: 'Segoe UI Light', sans-serif;
      font-size: 15pt;
}

@media only screen and (max-width : 480px) and (max-height: 800px) {
    .chatWindow {
        width: 65%;
        height: 75%;
    }
    .sendButton {
        padding: 10px;
        width: 24%;
        height: 14%;
        font-size: 1em;
        float: right;
    }
    .messageTextInput{
        padding: 10px;
        width: 65%;
        height: 10%;
        border: 1px solid black;
        float: left;
    }
    .browserChatView{
        height: 100vh;
    }
}
