.messageTextInput{
    padding: 10px;
    width: 75%;
    height: 10%;
    position: relative;
    border: 1px solid black;
}
.messageTextInput:focus {
    background-color: #ccffec;
}

.chatWindow {
    padding: 10px;
    width: 75%;
    height: 75%;
    float: left;
    border: 1px solid black;
}

.lobby {
    padding: 10px;
    width: 15%;
    height: 75%;
    float: right;
    border: 1px solid black;
}

.browserChatView{
    padding:10px;
    width: 800px;
    height: 600px;
    border:1px solid black;
}

.sendButton {
    padding: 10px;
    width: 12%;
    height: 12%;
    border:1px solid black;
}
.sendButton:hover {
    background-color: #07ffb2;
}
.sendButton:active {
    background-color: #11a474;
    position:relative;
}
